@tailwind base;
@tailwind components;

@import "./css/components/article-card.css";
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

.dotted-background {
  background-image: radial-gradient(theme('colors.dot-light') 1px, transparent 1px);
  background-size: 30px 30px;
}

.dark .dotted-background {
  background-image: radial-gradient(theme('colors.dot-dark') 1px, transparent 1px);
}
